*
{
  margin: 0;
  padding: 0;
}
.img-content
{
  width: 500px;
  height: auto;
  padding: 20px;
  
}

.container-navbar
{
  background-color: rgb(181, 212, 28);
  width: 100%;
  height: 10vh;
}
.container-content
{
  height: 80vh;
  background-color: brown;
  display: flex;
  justify-content: center;
  align-items: center
  
}
.container-footer
{
  height: 10vh;
  background-color: cyan;
  color:rgb(0, 21, 183) ;
  display: flex;
  justify-content: center;
  align-items: center

}

.ul-navbar
{
  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.li-navbar
{
 
 background-color:  bisque;
 list-style-type: none;
 padding: 20px;
 margin: 5px;
 color: blue;
 font-size: 20px;
}

.li-navbar :hover
{
  background-color: chartreuse;
  transition: .5s , ease-in-out;
  transition-delay: .4s;
  border-radius: 8px;
}

.a-navbar
{
  color: saddlebrown;
  text-decoration: none;
}